body{
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
   -ms-overflow-style: none;
    -webkit-user-select: none;
 -moz-user-select: none;
 -ms-use-select: none;
 user-select: none;
 }
::-webkit-scrollbar {
  display: none;
  transition: none;
}


/* 특정 부분 스크롤바 없애기 */
.box{
   -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
  display:none;
}



html{
  /* scroll-behavior: smooth; */
  /* overflow: hidden; */
  margin: 0 auto;
  overflow-x: hidden;
}
.t-box h2 {
  font-size: 3.5vw;
  padding-top: 9vh;
  margin-left: 1vw;
}
button {
  cursor: pointer;
  font: 1vw "Hahmlet", serif;
}
a {
  text-decoration: none;
  color: black;
}