/* 상단메뉴 css */
.top-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background-color: #f5f2f2;
    z-index: 999;
    border-bottom: 3px solid #000000;
    opacity: .5;
}
.top-menu:hover{
    opacity: 1;
    transition: .5s ease-in-out all;
}
.top-menu > ul {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    line-height: 10vh;
    font-size: 1vw;
    gap: 2vw;
}   
.top-menu > ul > li {
    cursor: pointer;
    height: 70%;
}
.top-menu > ul > :first-child{
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 1vw;
    border: none;
}
.top-menu > ul :hover {
    /* border-bottom: 1px solid #000000; */
    font-weight: bold;
}
.store-box{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.store{
    position: absolute;
    display: flex;
}
h2{
    font-size: 5vw;
    padding-top: 9vh;
    margin-left: 2vw;
}
