@charset "utf-8";

.r-pizza{
    animation: r-pizza-ani 10s linear forwards infinite;
}
@keyframes r-pizza-ani{
    0%{
         rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.m-deco {
     animation: smooth-flow 15s linear infinite;
}

@keyframes smooth-flow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
.m-deco2 {
     animation: smooth-flow 15s linear infinite 5s;
}

@keyframes smooth-flow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
.m-deco3 {
     animation: smooth-flow 15s linear infinite 10s;
}

@keyframes smooth-flow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
