@charset "utf-8";
/* 피자몰 메인 CSS - main.css */

/* 외부 CSS불러오기 */
@import url(./reset.css);
@import url(./core.css);
/* 12그리드 CSS */
@import url(./grid_12_flex.css);
@import url(./ani.css);

/* 공사중표시 */
body * {
outline: 2px dotted red;
}

 /********************************************* 메인 css *********************************************/
 /********************************************* 1.상단영역 *********************************************/
 .top-area {
     position: relative;
    height: 118px;
}
.top-menu-left ul{
    position: absolute;
    left: 0;
    top: 47px;
    display: flex;
    font-size: 19px;
}
.top-menu-left li{
    margin-left: 33px;
}
.p-logo{
    position: absolute;
    height: 118px;
    left: 44%;
}
.top-menu-right ul{
    position: absolute;
    right: 158px;
    top: 47px;
    font-size: 19px;
}
.top-menu-logo{
    position: absolute;
    right: 0;
    top: 47px;
    display: flex;
}
.search-logo{
width: 30px;
height: 30px;
margin-right: 28px;
}
.cart-logo{
width: 34px;
height: 34px;
margin-right: 12px;


}
 /*******************************************  2.회전피자메뉴 *******************************************/
 .r-pizza-menu{
    width: 1220px;
     position: relative;
     text-align: center;
     height: 605px;
     margin: 0 auto;
    }
    .r-pizza{
        position: absolute;
        height: 605px;
        width: 1014px;
        left: 9%;
}
.deco1{
    position: absolute;
    left: 0%;
    width: 84px;
    top: 65%; 
}

.deco2{
    position: absolute;
    right: 0;
    top: 10%;
    width: 105px;
    height: 64px;
}
 /********************************************  3.로고영역 ********************************************/
.logo-area{
position: relative;
width: 1220px;
height: 168px;
display: flex;
justify-content: center;
margin: 0 auto;
}
.logo-area ul{
    position: absolute;
    display: flex;
     margin-top: 61px;

}
.logo-area img{
    height: 84px;
    width: 84px;
}



/********************************************  4. 8조각피자영역 ********************************************/
.eight-pizza-part{
height: 653px;
width: 1220px;
margin: 0 auto;

}
/********************************************  5. 동영상영역 ********************************************/
.movie-part{
height: 714px;
width: 1220px;
margin: 0 auto;
}

.movie-part img{
    height: 364px;


}
/********************************************  6. 이벤트/할인영역 ********************************************/
.event-part{
height: 364px;
width: 1220px;
margin: 0 auto;

}
/******************************************** 7.하단영역 ********************************************/
.bottom-area{
height: 249px;
width: 1220px;
margin: 0 auto;

}